/* style.css */

body {
    margin: 0;
    display: flex;
    flex-direction: column;
    height: 100vh;
    background: linear-gradient(to right, #f5f5f5, #e0e0e0);
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
}

.content-container {
    display: flex;
    height: 100%;
    width: 100%;
    margin: 10px;
    margin-bottom: 10px;
    border-radius: 15px;
    overflow: hidden;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.left-div,
.right-div {
    background: linear-gradient(to right, #2d4059, #1a2a3a);
    color: #ffffff;
    width: 35%;
    height: 90%;
    margin-top: 1.5%;
    padding: 20px;
    border-radius: 15px;
    box-sizing: border-box;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
}

.center-div {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 38.6%;
    overflow: hidden;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.center-text {
    width: 100%;
    margin-top: 10%;
    line-height: 4.5;
    text-align: center;
    font-size: 72px;
    font-weight: bold;
    color: #2d4059;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
}

.center-down {
    margin-bottom: 40%;
    font-size: 50px;
    color: #333;
    text-align: center;
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@keyframes moveRight {
    0% {
        transform: translateX(0);
    }
    100% {
        transform: translateX(100%);
    }
}


.new-div {
    background-color: #ffffff;
    color: #333;
    width: 80%;
    padding: 10px;
    margin: 10px 0;
    border-radius: 15px;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
}

.bottom-container {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-end;
    height: 100%;
}

.bottom-div {
    background-color: #ffffff;
    color: #333;
    width: 40%;
    padding: 20px;
    border-radius: 20px;
    margin-top: 10px;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
}

.buttons-container {
    display: flex;
    justify-content: space-around;
    position: sticky;
    top: 10vh;

    z-index: 1;
    background: linear-gradient(to right, #43cea2, #185a9d);
    margin: 20px;
    border-radius: 15px;
    padding: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.button,
.button-x {
    background-color: #ff6f61;
    color: #ffffff;
    padding: 15px 30px;
    border: none;
    border-radius: 15px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.button-x {
    background-color: #293241;
    padding: 30px 60px;
}

.button:hover,
.button-x:hover {
    background-color: #e94545;
}

.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background: rgba(0, 0, 0, 0.4);
    justify-content: center;
    align-items: center;
    border-radius: 15px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
}

.modal-content {
    background: linear-gradient(to right, #ffffff, #d9e2e3);
    padding: 20px;
    border: 1px solid #888;
    width: 100px;
    height: 100px;
    text-align: center;
    border-radius: 15px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}

.modal-content button {
    background-color: #293241;
    color: #ffffff;
    padding: 10px;
    margin-top: 2%;
    border: none;
    border-radius: 15px;
    cursor: pointer;
}

.modal-content button:hover {
    background-color: #1a1a1a;
}

.content-container {
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
    height: 70%;
}

.center-text {
    font-size: 24px;
    color: #333;
}

.new-div,
.bottom-div {
    background-color: #ffffff;
    border: 1px solid #ddd;
    border-radius: 15px;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
}

.button,
.button-x {
    transition: background-color 0.3s ease;
}

.button:hover,
.button-x:hover {
    background-color: #e94545;
}

.modal-content {
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
}

.close {
    color: #555;
}

.close:hover {
    color: #000;
}

.modal-content button {
    background-color: #293241;
}

.modal-content button:hover {
    background-color: #1a1a1a;
}

@media only screen and (max-width: 900px) {
    .center-down{
        font-size: 35px;
        margin: 0 5px;
    }
}

@media only screen and (max-width: 600px) {


    .center-down{
        font-size: 20px;

    }
    .right-div{
        display: none;
    }
    .content-container{
        display: flex;
        flex-direction: column;
        width: 97%;
        height: 100%;
    }
    .left-div,.center-div{
        width: 100%;
    }
    .center-down{
        margin-bottom: 15px;
    }
}