<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Qtable Entries</title>
</head>
<body>
    <h1>Qtable Entries</h1>
    <table border="1">
        <thead>
            <tr>
                <th>ID</th>
                <th>Punctaj</th>
                <th>Intrebare</th>
            </tr>
        </thead>
        <tbody>
            {% for entry in qtable_entries %}
                <tr>
                    <td>{{ entry.idq }}</td>
                    <td>{{ entry.punctajq }}</td>
                    <td>{{ entry.intrebare }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
</body>
</html>
